@import url('variables.css');
@import url('components/_cards.css');
@import url('components/_buttons.css');
@import url('components/_forms.css');
@import url('components/_containers.css');
@import url('components/_nav.css');
@import url('components/_footer.css');

body {
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.5;
    color: var(--body-color);
    background-color: var(--body-bg-color);
    margin: 0;
    padding: 0;
}

.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.wrapper {
    margin: 0 auto;
    padding: 0.25rem;
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 2rem;
    }
}