.card {
    border: 1px solid var(--light-color);
    border-radius: 5px;
    background-color: #fff;
}

.card-header {
    padding: 0.5rem 1rem;
    border-radius: 5px 5px 0 0;
}

.card-header .card-title {
    margin: 0;
}

.card-body {
    padding: 20px;
}