table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

thead td {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    text-align: center;
}

@media screen and (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}